* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-width: 10px;  
}

@import "colors.css";

window#waybar {
    background-color: transparent;
    min-width: 10px; 
}
window#waybar > box {
    min-width: 10px;  
    min-height: 1428px;
    border-radius: 8px;
    
    border: 1px solid rgba(69, 71, 90, 1.0);
    margin-left: 1px;
    background-color:  #11111b;
    /* box-shadow: 2px 3px 3px 1px #000000; */
}

tooltip {
    background: @bg;
    color: @fg;
    border-radius: 5px;
    border: 1px solid rgba(100, 114, 125, 0.5);
    padding: 5px 10px;
    margin: 0;
}



/* Left-Modules */

#custom-launcher {
    font-size: 18px;
    padding-right: 7px;
    text-shadow: 5 2 3px #11111b;
    color: @arch;
}

box#launcher {
    margin-top: 15px;
    border-radius: 5px;
    background-color: #11111b;
}

#tray {

    border-radius: 2px;
    margin-top: 15px;
    padding-left: 2px;
}

#cpu {
    margin-top: 20px;
    margin-bottom: 15px;
    color: @fg;
    text-shadow: 5 2 3px rgba(0, 0, 0, 1);
}

#memory {
    color: @fg;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-right: 5px;
    font-size: 20px;
    color: @memory;
    text-shadow: 5 2 3px rgba(0, 0, 0, 1);

}

#temperature {
    margin-bottom: 10px;
    color: @fg;
    text-shadow: 5 2 3px rgba(0, 0, 0, 1);
}


#custom-weather {
    margin-top: 12px;
    padding-right: 0px;
    color: @weather;
    font-weight: 800;
    font-size: 12px;
    text-shadow: 5 2 3px rgba(0, 0, 0, 1);
}

#custom-dots {
    color: @fg;
    font-size: 21px;
    font-weight: 800;
    text-shadow: 5 2 3px rgba(0, 0, 0, 1);
}

#custom-updates {
    margin-top: 5px;
    margin-bottom: 3px;
    color: @updates;
    font-size: 12px;
    text-shadow: 5 2 3px rgba(0, 0, 0, 1);
}

#taskbar {
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 3px 5px;
    background-color: alpha(@container, 0.95);
    border-radius: 10px;
    border: 0px solid #9ece6a;
    box-shadow: 1 1 5px rgba(0, 0, 0, 1);

}

box#themes, #custom-memory, #custom-spotify {
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 5px;
    margin-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: alpha(@container, 0.95);
    border-radius: 3px;
    box-shadow: 1 1 5px rgba(0, 0, 0, 1);
  }

#custom-theme-switcher {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    color: @themes;
    text-shadow: 5 2 3px rgba(0, 0, 0, 1);
}



/* Workspace style */

#workspaces {
  background-color: #1D1D2C;
  margin: 0px 15px 0px 15px;
  padding: 15px 8px 15px 8px;
  border: 1px solid rgba(16, 16, 16, 1);
  border-radius: 1px;
}

#workspaces button {
  background-color: #2d3139;
  color: #b3b7bd;
  margin: 4px 0px 4px 0px;
  padding: 5px 0px 5px 0px;
  border-radius: 2px;
  font-size: 0px;
}

#workspaces button.focused {
  color: #171C21;
  border-bottom: none;
  padding: 8px 0px 8px 0px;
}

#workspaces button.active {

background: linear-gradient(135deg, #fdf4c1 0%, #3b4b78 40%, #6ee3f7 70%, #ff6b88 100%);
  color: #171C21;
  border-bottom: none;
  padding: 15px 0px 15px 0px;
  transition: all 0s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.urgent {
  color: #f7467b;
}


/* Right Modules */

#pulseaudio-slider {
    margin-top: 10px;
}

#pulseaudio-slider slider {
    min-height: 17px;
    min-width: 17px;
    opacity: 0;
    background-image: none;
    background-color: @slider;
    border-color: #f1d6d6;
    border-radius: 5px;
    box-shadow: 1px 5px 6px 1px #272727;
}

#pulseaudio-slider trough {
    min-height: 100px;
    min-width: 10px;
    border-radius: 5px;
    background-color: rgb(10, 10, 10);
}

#pulseaudio-slider highlight {
    min-width: 5px;
    border-radius: 5px;
    background-image: none;
    background-color: @slider-highlight;
}

#pulseaudio.audio {
    font-size: 12px;
    text-shadow: 5 2 3px #000000;
    color: aliceblue;
}


#clock.calender {
    font-size: 11px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: "JetBrainsMono Nerd Font";
    color: @calender;
    text-shadow: 5 2 2px rgb(0, 0, 0);
}


#clock {
    margin-bottom: 15px;
    font-size: 14px;
    color: @clock;
    font-family: "JetBrainsMono Nerd Font";
    text-shadow: 5 2 3px rgba(0, 0, 0, 1);
}

#custom-power {
    margin-bottom: 15px;
    padding-right: 3px;
    font-size: 18px;
    color: @power;
    text-shadow: 5 2 3px rgba(0, 0, 0, 1);
}

#custom-reboot {
    margin-top: 5px;
    margin-bottom: 7px;
    padding-right: 2px;
    font-size: 18px;
    color: @reboot ;
    text-shadow: 5 2 3px rgba(0, 0, 0, 1);
}

#custom-quit {
    padding-right: 2px;
    font-size: 17px;
    color: @logout;
    text-shadow: 5 2 3px rgba(0, 0, 0, 1);
}
