.winkeyboard {
	min-width:275px;
	background: linear-gradient(135deg, $bg, $bg-alt, $bg-alt, $bg);
	padding: 20px;
	border-radius: 16px;
}

.iconkey {
	font-size: 60px;
	color: $lime;
}

.evenkey {
	color: $fg;
}

.evenkey:hover {
	color: $lime;
}
