/** Global *******************************************/
*{
	all: unset;
	font-family: CaskaydiaCove Nerd Font;

}

@import "../colors.scss";

.winoutside {
	margin: 40px;
	box-shadow: 5px 5px 10px black;
	border-radius: 18px;
}

.winvolume {
	min-width: 200px;
	min-height: 50px;
	background: linear-gradient(135deg, $bg-alt, $bg, $bg, $bg-alt);
	padding: 15px;
	border-radius: 16px;
}

scale trough {
	all: unset;
	background-color: $bg;
	border-radius: 6px;
	min-height: 7px;
	min-width: 200px;
	margin: 10px;
}

scale trough highlight {
	all: unset;
	border-radius: 6px;
	background: $green;
}

.squarevol {
	color:$bg;
	background: $green;
	margin-top: 5px;
	margin-bottom: 5px;
	min-width:35px;
	min-height:35px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.squareside {
	color:$fg;
	background: $bg-alt;
	margin-top: 5px;
	margin-bottom: 5px;
	min-width:35px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
