

.wininfo {
	min-width:1000px;
	min-height: 400px;
	background: linear-gradient(135deg, $bg, $bg-alt, $bg-alt, $bg);
	padding: 20px;
	border-radius: 16px;
}

.logo {
	background-size: 300px;
	min-height: 100px;
	min-width: 300px;
	background-repeat: no-repeat;
	margin-top: 15px;
}

.systeminfobox {
	border-radius: 16px;
	background: $bg;
	margin: 10px;
	padding:10px;
}

.divinfo {
	background: $bg-alt;
	min-height: 1px;
}

.rojo {
	color: $red;
}

.azul {
	color: $blue;
}

.verde {
	color: $green;
}

.rosado {
	color: $pink;
}

.morado {
	color: $purple;
}

.amarillo {
	color: $yellow;
}
