.visual-refresh {
    --vr-header-snippet-server-padding: 16px;
    --custom-app-top-bar-height: 0 !important;

    div.base_c48ade {
        & > div.bar_c38106 {
            display: none;
        }
    }

    ul[data-list-id="guildsnav"]
        > div.itemsContainer_ef3116
        > div.stack_dbd263 {
        margin-top: var(--vr-header-snippet-server-padding);
    }
}
