/** Global *******************************************/
*{
	all: unset;
	font-family: JetBrainsMono Nerd Font;

}

.winoutside {
	margin: 30px;
	box-shadow: 5px 5px 10px black;
	border-radius: 16px;
}

.wincalendar {
	min-width:375px;
	background: linear-gradient(135deg, $bg, $bg-alt, $bg-alt, $bg);
	padding: 10px;
	border-radius: 16px;
}

.insideweather {
	border-radius: 16px;
	background: rgba($bg, 0.7);
}

.horacal {
	color: $fg;
	font-size: 45px;
}

.diacal{
	color: $yellow;
	font-size: 30px;
}

.mescal{
	color: $yellow;
}

calender {
    color: $fg;
}
calendar:selected {
	color: $main;
	font-size: 20px;
}

calendar.header {
	color: $yellow;
	font-weight: bold;
}

calendar.button {
	color: $yellow;
}

calendar.highlight {
	color: $green;
	font-weight: bold;
}

calendar:indeterminate {
	color: $purple;
}
