
entry {
	color: $fg;
	min-width: 300px;
	border-radius: 12px;
}

.inputbox {
	background-color: $bg-alt;
	border-radius:16px; 
	transition: 500ms;
	margin-top: 10px;
	margin-left: 20px;
}


.buttonapp {
	padding: 10px;
	transition: 100ms;
	border-radius: 16px;
}

.buttonapp:hover {
	padding: 10px;
	transition: 100ms;
	border-radius: 16px;
	background: $main;
	color: $bg;
}

.applist {
	padding: 10px;
	background-color: $bg-alt;
	color: $fg;
}

.appbox {
	background: $bg-alt;
	border-radius: 16px;
	min-width: 400px;
	padding: 10px;
}

.search {
	color: $main;
	font-size: 25px;
}
