$bg: #0C0C0B;
$bg-alt: #2d2d2d;
$fg: #c2c2c2;
$black: #A7A59B;
$red: #6B7C81;
$green: #C9B59E;
$yellow: #7595A3;
$blue: #A7A59B;
$magenta: #D5C6B6;
$cyan: #A7A59B;
$archicon: #0f94d2;
$orange: #6B7C81;
$pink: #D5C6B6;
$brown: #D8A15A;
$purple: #D8A15A;
$teal: #A7A59B;
$lime: #A7A59B;
$amber: #6B7C81;
$indigo: #A7A59B;
$grey: #6a6a56;
$main: #6B7C81;
