* {
    font: "Caskaydia Cove NF 12";
    background: #0C0C0B;
    bg-alt: #0C0C0B;
    background-alt: #0C0C0BE0;
    foreground: #c2c2c2;
    selected: #6B7C81;
    active: #C9B59E;
    urgent: #7595A3;
}
