
.windesktop {
	min-width:450px;
	min-height: 200px;
	background: rgba($bg, 0.8);
	padding: 20px;
	border-radius: 16px;
}

.windesktopclock {
	background: rgba($bg, 0.8);
	padding: 10px;
	border-radius: 16px;
}

.desktopbox {
	border-radius: 16px;
	background: $bg;
	margin: 10px;
	padding:10px;
}

.textd {
	color: $main;
	font-size: 20px;
}

.textdicon {
	color: $fg;
	font-size: 20px;
}

.labeld{
	color: $main;
}

.desktopclockicon {
	color: $blue;
	font-size: 35px;
}
