/** Global *******************************************/
*{
	all: unset;
	font-family: JetBrainsMono Nerd Font;

}

tooltip {
	background: $main;
	border-radius: 6px;
	color: $bg;
}

.winoutside {
	margin: 40px;
	box-shadow: 5px 5px 10px black;
	border-radius: 16px;
}

.hyprsettings {
	border-radius: 16px;
	background: $bg;
	padding:10px;
	min-width: 375px;
}

.win {
	min-width:400px;
	background: linear-gradient(135deg, $bg, $bg-alt, $bg-alt, $bg);
	padding: 20px;
	border-radius: 16px;
}

.bgimage {
	background-repeat: no-repeat;
	background-size: 340px;
	min-width: 340px;
	min-height: 340px;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
}

.bgwimage {
	background-repeat: no-repeat;
	background-size: 400px;
	min-width: 400px;
	min-height: 400px;
	border-radius: 16px;
	background: rgba($bg, 1);
}

.insideweather {
	border-radius: 16px;
	background: rgba($bg, 0.7);
}

.boxtiempo {
	background: rgba($bg, 0.8);
	padding: 5px;
	border-radius: 16px;
}
.qtemp {
	font-size: 100px;
	color: $main;
}

.tiempoicon{
	color: $blue;
}

.hora {
	color: $fg;
	font-size: 60px;
	margin-top: -10px;
	margin-bottom: -10px;
}

.dia{
	color: $fg;
	font-size: 30px;
}

.mes{
	color: $fg;
}

.byside{
	background: $bg;
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
}

scale trough {
	all: unset;
	background-color: $bg;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 16px;
	min-height: 7px;
	min-width: 340px;
	margin: 10px;
}

scale trough highlight {
	all: unset;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 16px;
	background-color: $main;
}

.play{
	font-size: 20px;
	color: $fg;
}

.play:hover{
	font-size: 20px;
	color: $main;
}

.membar {
  color: $fg;
    background-color: $bg-alt;
  border-radius: 10px;
}

.iconmem{
	color: $fg;
	margin: 15px;
}

.iconmem:hover{
	color: $main;
	margin: 15px;
}

.div{
	min-height: 7px;
	border-bottom-right-radius: 24px;
	border-bottom-left-radius: 24px;
	background: linear-gradient(135deg, $bg-alt, $fg);

}

.divdown{
	min-height: 7px;
	border-top-right-radius: 24px;
	border-top-left-radius: 24px;
	background: linear-gradient(135deg, $fg, $bg);

}

.text  {
	color: $fg;
}

.textuplast  {
	color: $fg;
}

.qlabel {
	font-size: 25px;
	color: $main;
}

.evenicon {
	color: $fg;
	font-size: 17px;
}

.evenicon:hover {
	color: $main;
	font-size: 17px;
}


.eveniconac {
	color: $main;
	font-size: 17px;
}

.even {
	color: $fg;
	font-size: 17px;
}

.even:hover {
	color: $main;
	font-size: 17px;
}

.icon {
	font-size: 60px;
	color: $main;
}

.ebuttonsp {
	color: $fg;
	font-size: 20px;
}

.ebuttonsp:hover {
	color: $red;
	font-size: 20px;
}

.ebuttonsl {
	color: $fg;
	font-size: 20px;
}

.ebuttonsl:hover {
	color: $green;
	font-size: 20px;
}

.ebuttonslo {
	color: $fg;
	font-size: 20px;
}

.ebuttonslo:hover {
	color: $blue;
	font-size: 20px;
}

.ebuttonsr {
	color: $fg;
	font-size: 20px;
}

.ebuttonsr:hover {
	color: $orange;
	font-size: 20px;
}

.osn {
	color: $cyan;
}

.user{
	color: $teal;
}

.host{
	color: $blue;
}

.kernel {
	color: $indigo;
}

.pack {
	color: $green;
}

.updat {
	color: $lime;
}

.shell {
	color: $yellow;
}

.term {
	color: $amber;
}

.disk {
	color:  $orange;
}

.ram {

	color: $red;
}

.res {
	color: $pink;


}

.de{
	color: $purple;
}

.arch {
	font-size:100px;
	color: $archicon;
}

.ss {
	font-size:100px;
	color: $fg;
}

.ss:hover {
	color: $main;
}


.wincontrol {
	min-height: 140px;
	background: linear-gradient(100deg, $bg, $bg-alt, $bg-alt, $bg);
	border-radius: 12px;
}

.controldeco {
	font-size: 17px;
	color: $fg;
}

.controlclock {
	background: $bg-alt;
	border-radius: 16px;
	min-width: 355px;
}

.controlclockinside {
	background: $bg;
	border-radius: 10px;
	margin: 10px;
}

.controlclockinside2 {
	background: $bg;
	border-radius: 8px;
	margin: 2px;
	border: 1px solid $fg;
}

.controlclockinside3 {
	background: rgba($main, 0.7);
	box-shadow: inset 0 0 20px rgba($bg, 0.7);
	border-radius: 6px;
	margin: 2px;
}


.controlclockdate {
	margin: 2px;
	border: 1px solid $bg;
	border-radius: 4px;
	color: $bg;
	font-family: seven segment;
}

.controltime {
	font-family: seven segment;
	font-size: 80px;
	font-weight: bold;
	color: $bg;
}

.controlseg {
	font-family: seven segment;
	font-size: 22px;
	font-weight: bold;
	color: $bg;
}

.controlclocktext {
	color: $bg;
	font-family: seven segment;
	font-weight: bold;
}

.controlblock {
	background: $main;
	min-height: 10px;
	border-radius: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 3px;
	box-shadow: inset 0 0 5px rgba($bg, 0.7);

}

.controlclockblock {
	background: $bg;
	border-radius: 5px;
	border: 1px solid $fg;
}

.evencontroltext {
	color: $fg;
}

.evencontroltext:hover {
	color: $main;
}

.controllabeldown {
	color: $black;
	font-size: 10px;
}

.controllabel {
	color: $fg;
	font-size: 10px;
}

.boxactive {
	background: $main;
	min-width: 30px;
	border-radius: 12px;
	margin-left: 150px;
}

.boxinactive {
	background: $fg;
	border-radius: 12px;
	margin-left: 150px;
}

.dot {
	background: $bg;
	border-radius: 100%;
	min-width: 13px;
}

.main {
	color: $main;
}

.indigo {
	color: $indigo;
}

.naranja {
	color: $orange;
}

.bgalt {
	color: $bg-alt;
}

.negro {
	color: $black;
}

.plomo {
	color: $grey;
}

.eventext {
	color: $fg;
}

.eventext:hover {
	color: $main;
}
