/**
 * @name Tokyo Night
 * @description A dark Discord theme based on the Tokyo Night color scheme
 * @author refact0r (modified by DeepSeek Chat)
 * @version 2.1.0
 * @source https://github.com/refact0r/midnight-discord
*/

/* import theme modules */
@import './midnight.css';
@import './unrounding.css';
@import './system24-port.theme.css';
@import 'https://codeberg.org/AllPurposeMat/Disblock-Origin/raw/branch/master/DisblockOrigin.theme.css'; 

body {
    /* font, change to '' for default discord font */
    --font: 'JetBrainsMono Nerd Font';
    font-weight: 400 /* normal text font weight. DOES NOT AFFECT BOLD TEXT */;

    /* sizes */
    --gap: 12px; /* spacing between panels */
    --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */
    --border-thickness: 1px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */

    /* animation/transition options */
    --animations: on; /* off: disable animations/transitions, on: enable animations/transitions */
    --list-item-transition: 0.2s ease; /* transition for list items */
    --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */

    /* top bar options */
    --top-bar-height: 32px; /* height of the titlebar/top bar (discord default is 36px, 24px recommended if moving/hiding top bar buttons) */
    --top-bar-button-position: titlebar; /* off: default position, hide: hide inbox/support buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to titlebar (will hide title) */
    --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
    --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */

    /* window controls */
    --custom-window-controls: on; /* off: default window controls, on: custom window controls */
    --window-control-size: 14px; /* size of custom window controls */

    /* dms button options */
    --custom-dms-icon: custom; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
    --dms-icon-svg-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg'); /* icon svg url. MUST BE A SVG. */
    --dms-icon-svg-size: 90%; /* size of the svg (css mask-size property) */
    --dms-icon-color-before: var(--icon-secondary); /* normal icon color */
    --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */
    --custom-dms-background: off; /* off: no background, on: use custom background image or custom color/gradient */
    --dms-background: url(''); /* url of the background image or custom color/gradient (css background property) */
    --dms-background-size: cover; /* size of the background image (css background-size property) */

    /* background image options */
    --background-image: off; /* off: no background image, on: enable background image (must set url variable below) */
    --background-image-url: url(''); /* url of the background image */

    /* transparency/blur options */
    --transparency-tweaks: off; /* off: no changes, on: remove some elements for better transparency */
    --remove-bg-layer: off; /* off: no changes, on: remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
    --panel-blur: off; /* off: no changes, on: blur the background of panels */
    --blur-amount: 12px; /* amount of blur */
    --bg-floating: var(--bg-3); /* set this to a more opaque color if floating panels look too transparent. only applies if panel blur is on  */

    /* chatbar options */
    --custom-chatbar: aligned; /* off: default chatbar, aligned: chatbar aligned with the user panel, separated: chatbar separated from chat */
    --chatbar-height: 47px; /* height of the chatbar (52px by default, 47px recommended for aligned, 56px recommended for separated) */
    --chatbar-padding: 8px; /* padding of the chatbar. only applies in aligned mode. */

    /* other options */
    --small-user-panel: on; /* off: default user panel, on: smaller user panel like in old discord */
}

/* Tokyo Night color scheme */
:root {
    --colors: on; /* off: discord default colors, on: midnight custom colors */

    /* text colors */
    --text-0: #1a1b26; /* text on colored elements */
    --text-1: #c0caf5; /* other normally white text */
    --text-2: #a9b1d6; /* headings and important text */
    --text-3: #9aa5ce; /* normal text */
    --text-4: #7aa2f7; /* icon buttons and channels */
    --text-5: #565f89; /* muted channels/chats and timestamps */

    /* background and dark colors */
    --bg-1: #1a1b26; /* dark buttons when clicked */
    --bg-2: #1a1b26; /* dark buttons */
    --bg-3: #13141b; /* spacing, secondary elements */
    --bg-4: #11121D; /* main background color */
    --hover: rgba(122, 162, 247, 0.1); /* channels and buttons when hovered */
    --active: rgba(122, 162, 247, 0.2); /* channels and buttons when clicked or selected */
    --active-2: rgba(122, 162, 247, 0.3); /* extra state for transparent buttons */
    --message-hover: rgba(0, 0, 0, 0.1); /* messages when hovered */

    /* accent colors */
    --accent-1: #7aa2f7; /* links and other accent text */
    --accent-2: #7aa2f7; /* small accent elements */
    --accent-3: #7aa2f7; /* accent buttons */
    --accent-4: #9ab7ff; /* accent buttons when hovered */
    --accent-5: #5a8af7; /* accent buttons when clicked */
    --accent-new: #f7768e; /* stuff that's normally red like mute/deafen buttons */
    --mention: linear-gradient(to right, rgba(122, 162, 247, 0.1) 40%, transparent); /* background of messages that mention you */
    --mention-hover: linear-gradient(to right, rgba(122, 162, 247, 0.05) 40%, transparent); /* background of messages that mention you when hovered */
    --reply: linear-gradient(to right, rgba(154, 165, 206, 0.1) 40%, transparent); /* background of messages that reply to you */
    --reply-hover: linear-gradient(to right, rgba(154, 165, 206, 0.05) 40%, transparent); /* background of messages that reply to you when hovered */

    /* status indicator colors */
    --online: #73daca; /* green */
    --dnd: #f7768e; /* red */
    --idle: #e0af68; /* yellow */
    --streaming: #bb9af7; /* purple */
    --offline: #565f89; /* gray */

    /* border colors */
    --border-light: rgba(122, 162, 247, 0.1); /* light border color */
    --border: rgba(122, 162, 247, 0.2); /* normal border color */
    --button-border: rgba(192, 202, 245, 0.1); /* neutral border color of buttons */

    /* base colors */
    --red-1: #f7768e;
    --red-2: #db4b4b;
    --red-3: #c53b3b;
    --red-4: #af2b2b;
    --red-5: #991b1b;

    --green-1: #73daca;
    --green-2: #41a6b5;
    --green-3: #2d96a5;
    --green-4: #198695;
    --green-5: #057685;

    --blue-1: #7aa2f7;
    --blue-2: #4d7bf7;
    --blue-3: #3d6be7;
    --blue-4: #2d5bd7;
    --blue-5: #1d4bc7;

    --yellow-1: #e0af68;
    --yellow-2: #d79921;
    --yellow-3: #c78911;
    --yellow-4: #b77901;
    --yellow-5: #a76900;

    --purple-1: #bb9af7;
    --purple-2: #9d7bf7;
    --purple-3: #8d6be7;
    --purple-4: #7d5bd7;
    --purple-5: #6d4bc7;
}
