
.winoutside {
	margin: 30px;
	box-shadow: 5px 5px 10px black;
	border-radius: 16px;
}

.winbattery {
	min-width:375px;
	background: linear-gradient(135deg, $bg, $bg-alt, $bg-alt, $bg);
	border-radius: 16px;
}

.batteryinfobox {
	border-radius: 16px;
	background: $bg;
	padding: 10px;
	margin-top: 20px;
}
