/** Global *******************************************/
*{
	all: unset;
	font-family: CaskaydiaCove Nerd Font;

}

.winthemes {
	min-width: 600px;
	background: linear-gradient(135deg, $bg, $bg-alt, $bg-alt, $bg);
	padding: 20px;
	border-radius: 16px;
}

.winalien {
	min-height: 210px;
	min-width: 300px;
	border-radius: 12px;
	background-size: 300px;
	background-repeat: no-repeat;
	background-image: url('images/alientheme.webp');
}

.winblack {
	min-height: 210px;
	min-width: 300px;
	border-radius: 12px;
	background-size: 300px;
	background-repeat: no-repeat;
	background-image: url('images/blacktheme.webp');
}

.wincatppuccin {
	min-height: 210px;
	min-width: 300px;
	border-radius: 12px;
	background-size: 300px;
	background-repeat: no-repeat;
	background-image: url('images/catppuccintheme.webp');
}

.wincyberpunk {
	min-height: 210px;
	min-width: 300px;
	border-radius: 12px;
	background-size: 300px;
	background-repeat: no-repeat;
	background-image: url('images/cyberpunktheme.webp');
}

.windracula {
	min-height: 210px;
	min-width: 300px;
	border-radius: 12px;
	background-size: 300px;
	background-repeat: no-repeat;
	background-image: url('images/draculatheme.webp');
}

.wineverforest {
	min-height: 210px;
	min-width: 300px;
	border-radius: 12px;
	background-size: 300px;
	background-repeat: no-repeat;
	background-image: url('images/everforesttheme.webp');
}

.wingruvbox {
	min-height: 210px;
	min-width: 300px;
	border-radius: 12px;
	background-size: 300px;
	background-repeat: no-repeat;
	background-image: url('images/gruvboxtheme.webp');
}

.winmono {
	min-height: 210px;
	min-width: 300px;
	border-radius: 12px;
	background-size: 300px;
	background-repeat: no-repeat;
	background-image: url('images/monotheme.webp');
}

.winnord {
	min-height: 210px;
	min-width: 300px;
	border-radius: 12px;
	background-size: 300px;
	background-repeat: no-repeat;
	background-image: url('images/nordtheme.webp');
}

.winonedark {
	min-height: 210px;
	min-width: 300px;
	border-radius: 12px;
	background-size: 300px;
	background-repeat: no-repeat;
	background-image: url('images/onedarktheme.webp');
}

.winrosepine {
	min-height: 210px;
	min-width: 300px;
	border-radius: 12px;
	background-size: 300px;
	background-repeat: no-repeat;
	background-image: url('images/rosepinetheme.webp');
}

.wintokyo {
	min-height: 210px;
	min-width: 300px;
	border-radius: 12px;
	background-size: 300px;
	background-repeat: no-repeat;
	background-image: url('images/tokyotheme.webp');
}

.label {
	font-size: 25px;
	color: $fg;
}

.label:hover {
	font-size: 25px;
	color: #7df0f0;
}

.ho:hover {
	margin-top: 10px;
	margin-left: 10px;

}
.btn{
	margin-left: 7px;
	margin-right: 7px;
	border-radius: 100%;
	min-width: 40px;
	min-height:40px;
	color: #000000;
}
